<%= form_for([:admin, @article], html: { class: "form-horizontal"}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "col-sm-2 form-control", placeholder: "Enter article title" %>
  </div>
  <div class="form-group">
    <%= f.label :user_id %> 
    <%= f.collection_select(:user_id, User.all, :id, :full_name, {}, {class: "col-sm-2 form-control"}  ) %>
  </div>
  <div class="form-group">
    <%= f.submit "submit", class: "btn btn-primary"%>
  </div>
<% end %>
