<div class="row">
  <div class="newest-article-container">
    <div class="col-md-5">
      
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <div class="main-article-image-container">
              <%= link_to(image_tag(@newest_article.header_image.url(:large), class: "main-article-image cropped-image-lg"), article_path(@newest_article)) %>  
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <h1 class="main-article-title"><%= link_to @newest_article.title, article_path(@newest_article) %></h1>
          <h3>Subtitle goes here</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
        <h5 class="text-left extra-small">
          <i><%= @newest_article.user.full_name %></i> - <span class="text-muted"><%= @newest_article.created_at.strftime("%e.%-m.%y")%></span>
        </h5>   
        </div>
        <div class="col-sm-3">
          <%= render 'partials/social_media_toolkit' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
          <p><%= truncate(@newest_article.content, length: 450) %> <%= link_to "Read More", article_path(@newest_article) %> </p>
          <br><hr class="full-length">
        </div>
      </div>



    </div>
  </div>


  <div class="col-md-3">
    <% @articles.each do |article| %>
      <div class="older-article-container">
        <div class="older-article-container-image">
          <%= link_to(image_tag(article.header_image.url(:large), class: "older-article-image cropped-image-md"), article_path(article)) %>
        </div>
        <h4 class=><%=link_to article.title, "#" %></h4>
        <h5 class="small-date-and-publisher">
          <%= article.user.full_name %> - <span class="text-muted "><%= article.created_at.strftime("%e.%-m.%y")%></span>  
        </h5>
      </div>
    <% end %>
    <hr class="full-length">
    <%=link_to("See More", articles_path) %>
  </div>

  <div class="col-md-4">
    <div class="well">
      <h4 class="new-issues-header text-center">Newest Releases<h4>
      <hr>

      <div class="row">
        <div class="col-sm-5">
          <%= image_tag "http://placehold.it/125x160" %>
        </div>

        <div class="col-sm-7">
          <div class="new-issue">
            <h5 class="new-issue-title">New Issue!</h5>
            <p>Brute salutatus his eu, cum ne quaestio abhorreant. Ne qui duis laudem, eum id graecis nostrum.</p>
            
            <h5 class="small-date-and-publisher in-well">
              <span class="special-text-in-well"><i><%= @newest_article.user.full_name %></i></span> - <span class="text-muted"><%= @newest_article.created_at.strftime("%e.%-m.%y")%></span>  
            </h5>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-sm-5">
          <%= image_tag "http://placehold.it/125x160" %>
        </div>

        <div class="col-sm-7">
          <div class="new-issue">
            <h5 class="new-issue-title">New Issue!</h5>
            <p>Brute salutatus his eu, cum ne quaestio abhorreant. Ne qui duis laudem, eum id graecis nostrum.</p>
            
            <h5 class="small-date-and-publisher in-well">
              <span class="special-text-in-well"><i><%= @newest_article.user.full_name %></i></span> - <span class="text-muted "><%= @newest_article.created_at.strftime("%e.%-m.%y")%></span>  
            </h5>
          </div>
        </div>
      </div>


      <p class="text-right"><a class="btn btn-default">See More</a></p>

    </div>
  </div>
</div>