<div class="row">
<!-- START COLUMN 1 -->
	<div class="col-md-7">
		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<%= link_to("Home", root_path) %>

				<h1 class="main-article-title extra-large-title"><%= @article.title %></h1>
				<h3 class="spread-out">Subtitle goes here</h3>
				 <div class="row">
			        <div class="col-sm-6">
			        <h5 class="text-left extra-small">
			          <i><%= @article.user.full_name %></i> - <span class="text-muted"><%= @article.created_at.strftime("%e.%-m.%y")%></span>
			        </h5>   
			        </div>
			        <div class="col-sm-6">
			          <%= render 'partials/social_media_toolkit' %>
			        </div>
			    </div>
			</div> 	
		</div>

		<div class="row">
			<div class="col-sm-11 col-sm-offset-1">
				<%= image_tag @article.header_image.url(:large), class: "main-article-image cropped-image-lgr" %>
			</div>
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-md-11 col-sm-offset-1">
				<p><%= raw @article.content %></p>
			</div>
		</div>
    </div>
    <!-- END COLUMN 1 -->
    
    <!-- START COLUMN 2 -->
	<div class="col-lg-4 col-lg-offset-1">
		<%= render 'partials/more_articles' %>
	</div>
	<!-- END COLUMN 2 -->

</div>