<ul class="sidebar-nav">
	<li class="sidebar-brand">
		<%= link_to("Complete Vertigo", admin_dashboard_path) %>
		</a>
	</li>
	<li>
		<%= link_to("Articles", admin_articles_path) %>
	</li>
	<li>
		<%= link_to("Collected Editions") %>
	</li>
	<li>
		<%= link_to("Series") %>
	</li>
	<li>
		<%= link_to("Issues", admin_issues_path) %>
	</li>
	<li>
		<%= link_to("Writers") %>
	</li>
	<li>
		<%= link_to("Penciller") %>
	</li>
	<li>
		<%= link_to("Colorists") %>
	</li>
	</br>
	<li>
		<%= link_to(current_user.email, admin_user_path(current_user)) %>
	</li>
	<li>
		<%= render "admin/partials/authorization_menu" %>
	</li>
	<li>
		<%= link_to("Main Site", root_path, {class: "btn btn-small btn-primary"}) %>
	</li>
</ul>